<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">日志管理</h3>

				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="用户名">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
                                <i class="fa fa-search"></i>
							</button>
							<button type="button" class="btn btn-default btn-delete">删除</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
						    <th><input type="checkbox" id="checkAll">全选</th>
							<th>用户名</th>
							<th>操作</th>
							<th>请求方法</th>
							<th>请求参数</th>
							<th>IP</th>
							<th>执行时长</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					    <tr>
					       <td colspan="7">数据正在加载中...</td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div id="pageId" class="box-footer clearfix">
			
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">
   $(function(){
	  // debugger
	   
	   //const 关键字用于定义常量,常量不允许多次赋值
	   const pageUrl="doPageUI";
	//   第一步：分页页面加载完成，向服务端发起异步请求   =========[][][][]
	   //在pageId对应的位置异步加载pageUrl对应的资源
	   $("#pageId").load(pageUrl,function(){  //加载分页页面   同时请求页面数据-此时页面外框已经加载完毕
		   doGetObjects();
	   });
	   //同时发送ajax请求获取数据
	   
	   
	  
	   
	   //日志列表页面加载完成，在查询按钮上进行事件注册
	   
	 $(".input-group-btn").on("click",".btn-search",doQueryObjects);
	   
	  $(".input-group-btn").on("click",".btn-delete",doDeleteObjects);
	  
	  // .load()方法需要放在页面自动加载方法的最后
	  $("#tbodyId").load();
	   
   })
   
   //定义删除操作对应的事件处理函数
   
    function doDeleteObjects(){
	   //1.获取选中的id值
	   var ids=doGetCheckedIds();
	   if(ids.length==0){
		  alert("至少选择一个");
		  return;
	   }
	   //2.发异步请求执行删除操作
	   var url="log/doDeleteObjects";
	   var params={"ids":ids.toString()};
	   console.log(params);
	   $.post(url,params,function(result){
		   if(result.state==1){
			 alert(result.message);
			 //doGetObjects();
			 doRefreshPage();
			 
		   }else{
			 alert(result.message);
		   }
	   });
   }
   
   
   //定义获取用户选中的记录id的函数。关键代码如下：
   function doGetCheckedIds(){
  	   //定义一个数组,用于存储选中的checkbox的id值
  	   var array=[];//new Array();
  	   //获取tbody中所有类型为checkbox的input元素
  	   $("#tbodyId input[type=checkbox]").
  	   //迭代这些元素，每发现一个元素都会执行如下回调函数
  	   each(function(){
  		   //假如此元素的checked属性的值为true
  		   if($(this).prop("checked")){
  			   //调用数组对象的push方法将选中对象的值存储到数组
  			   array.push($(this).val());
  		   }
  	   });
  	   return array;
   }
   
//   第四步：Thead中全选元素的状态影响tbody中checkbox对象状态。代码如下：
   function doChangeTBodyCheckBoxState(){
	   //1.获取当前点击对象的checked属性的值
	   var flag=$(this).prop("checked");//true or false
	   //2.将tbody中所有checkbox元素的值都修改为flag对应的值。
	   //第一种方案
	   /* $("#tbodyId input[name='cItem']")
	   .each(function(){
		   $(this).prop("checked",flag);
	   }); */
	   //第二种方案
	   $("#tbodyId input[type='checkbox']")
	   .prop("checked",flag);
   }
//第五步：Tbody中checkbox的状态影响thead中全选元素的状态。代码如下：
   function doChangeTHeadCheckBoxState(){
	  //1.设定默认状态值
	  var flag=true;
	  //2.迭代所有tbody中的checkbox值并进行与操作
	  $("#tbodyId input[name='cItem']")
	  .each(function(){
		  flag=flag&$(this).prop("checked")
	  });
	  //3.修改全选元素checkbox的值为flag
	  $("#checkAll").prop("checked",flag);
   }
   
   function doRefreshPage(){
  	 var pageCount=$("#pageId").data("pageCount");
  	 var pageCurrent=$("#pageId").data("pageCurrent");
  	 var checked=$("#checkAll").prop("checked");
  	 if(pageCurrent==pageCount&&checked&&pageCurrent>1){
  		 pageCurrent--;
  		 $("#pageId").data("pageCurrent",pageCurrent);
  	 }
       doGetObjects();
 }
   
   
   
   
   
 //  定义查询按钮对应的点击事件处理函数。代码如下：
   function doQueryObjects(){
	  debugger
	   alert("搜索事件生效了！")
	   //为什么要在此位置初始化pageCurrent的值为1?
	   //数据查询时页码的初始位置也应该是第一页
	   $("#pageId").data("pageCurrent",1);
	   //为什么要调用doGetObjects函数？
	   //重用js代码，简化jS代码编写。
	   doGetObjects();
   }
   
   
   //第二步：定义异步请求处理函数  =========[][][][]
   //请求页面数据   定义异步请求
    function doGetObjects(){
	   
    	debugger
    	 
	   //debugger;//断点调试
	   //1.定义url和参数
	   //http://localhost:8090/log/doFindObjects?username=admin&pageCurrent=3
	   var url="log/doFindObjects";
	     //debugger;//断点调试
	   //1.定义url和参数
	    
		 var  username=$("#searchNameId").val(); //如下语句的含义是什么？动态在js对象中添加key/value,
		  
			  
		   
	   
	  
	    //页面对象 的属性pageCurrent
	     var pageCurrent=$("#pageId").data("pageCurrent");
	    var params={"pageCurrent":pageCurrent,"username":username};//pageCurrent=2
	     
	    var b= pageCurrent > 1;
	     if(!b){
	    	  var params={"pageCurrent":1,"username":username};
	     }
		 
	    
	     //2.发起异步请求
		   //请问如下ajax请求的回调函数参数名可以是任意吗？可以,必须符合标识符的规范
		   $.getJSON(url,params,function (result){
			   doHandleResponseResult(result);
			   
		   }) //特殊的ajax
	   
		   //第三步：定义回调函数，处理服务端的响应结果 =========[][][][]
	   //JsonResult->PageObject->List<SysLogs>+...
		   //请问result是一个字符串还是json格式的js对象？对象
		   
		   //定义数据后台响应处理
		   function doHandleResponseResult (result){ //JsonResult
			  // debugger
			   if(result.state==1){//ok
				//更新table中tbody内部的数据
				doSetTableBodyRows(result.data.records); //将数据呈现在页面上 
				//更新页面page.html分页数据
				doSetPagination(result.data); //此方法写到page.html中
			    }else{
				alert(result.msg);
			    }  
		 }
		   
	   
   };
   
   //第四步：将异步响应结果呈现在table的tbody位置            =========[][][][]
     function doSetTableBodyRows(records){
    	
	   
	   //1.获取tbody对象，并清空对象
	   var tBody=$("#tbodyId");
	   tBody.empty();
	   //2.迭代records记录，并将其内容追加到tbody
	   for(var i in records){
		   //2.1 构建tr对象
		   var tr=$("<tr></tr>");
		   //2.2 构建tds对象
		   var tds=doCreateTds(records[i]);
		   //2.3 将tds追加到tr中
		   tr.append(tds);
		   //2.4 将tr追加到tbody中
		   tBody.append(tr);
	   }
   }
   
   //第五步：创建每行中的td元素，并填充具体业务数据。      =========[][][][]
     function doCreateTds(data){
  	   var tds="<td><input type='checkbox' class='cBox' name='cItem' value='"+data.id+"'></td>"+
  		   	 "<td>"+data.username+"</td>"+
  		     "<td>"+data.operation+"</td>"+
  		     "<td>"+data.method+"</td>"+
  		     "<td>"+data.params+"</td>"+
  		     "<td>"+data.ip+"</td>"+
  		     "<td>"+data.time+"</td>";	   
  return tds;
     }
   
</script>






